* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #ffd6e8, #ffeef5);
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 420px;
  height: 700px;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.chat-container h1 {
  background: #ff6fa5;
  color: white;
  text-align: center;
  padding: 18px;
  font-size: 28px;
}

.chat-box {
  height: 500px;
  padding: 15px;
  overflow-y: auto;
  background: #fff8fb;
}

.bot-message {
  background: #ffe0ec;
  padding: 12px;
  border-radius: 15px;
  width: fit-content;
  max-width: 75%;
  margin-bottom: 10px;
}

.user-message {
  background: #ff6fa5;
  color: white;
  padding: 12px;
  border-radius: 15px;
  width: fit-content;
  max-width: 75%;
  margin-left: auto;
  margin-bottom: 10px;
}

.input-area {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #eee;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
}

.input-area button {
  background: #ff6fa5;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  cursor: pointer;
}

.input-area button:hover {
  background: #ff4f93;
}